<footer>
    <div id="mes_adresses">
        <h2>mes adresses mail</h2>
        <p>voici mes adresses mails au cas ou vous voudriez me contacter Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
            libero maiores natus nostrum optio quisquam repudiandae sunt voluptas? Assumenda dolorem eius in nisi optio ratione reiciendis repudiandae suscipit ut voluptate.</p>
        <ul>
            <li><a>exdragoni@hotmail.fr</a></li>
            <li><a>alexadb4491@gmail.com</a></li>
            <li><a href="https://www.linkedin.com/in/alexandre-dragoni-269527155/">Mon compte Linkedin</a></li>
        </ul>
    </div>
    <div id="mon_compte">
        <h2>Mon Compte Github</h2>
        <p>C'est le compte de dépot distant que j'utilise actuellement pour stocker mon code sur internet , Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aperiam, at beata
            e consectetur deserunt doloribus explicabo facere illo in inventore nobis odio perspiciatis quam quisquam repudiandae sit tenetur vel voluptatem.</p>
        <a href="https://github.com/intheWhiteRabbithole"><img id="github_logo" src="images/github.svg" alt="logo github"></a>
    </div>
    <div id="mon_contenu">
        <h2>mon contenu</h2>
        <p>voici mon contenu et les images</p>
        <div id="contenu_images">
            <img class="image_footer " src="images/cssbook.jpg" alt="book">
            <img class=image_footer src="images/rushi-shah_unsplash.jpg" alt="pecheur">
            <img class=image_footer src="images/cloud.jpg" alt="nuages">
        </div>
    </div>
</footer>
</div>
</body>
</html>