<header id="myheader">
    <nav>
        <ul id="topbar">
            <li><img id="img-logo" src=""></li>
            <li><a title="page d'accueil" href="#">ACCUEIL</a></li>
            <li><a title="Tous mes articles publiés, que ce soit du fonctionnement du cerveau ,au story telling jusqu'à l'inspiration , l'apprentissage de l'informatique, la programmation et plein de choses les plus interressantes et instructives les une que les autres" href="#">MES ARTICLES</a></li>
            <li><a title="Les projets sur lequels je travaille en ce moment , ceux que j'ai déjà réalisé et ceux avenir que je projette de faire avec les étapes de réalisation etc" href="#">MES PROJETS</a></li>
            <li><a title="Si tu souhaites me contacter" href="#">CONTACTS</a></li>
            <li><a title="les liens de soutiens que je partage , projets que je soutien , photographe que je remercie" href="#">SOUTIEN</a></li>
        </ul>
    </nav>
</header>